/********************************************************
                        分页控件样式
*********************************************************/
.list-pager { height: 40px; line-height: 40px; clear: both; border-top: solid 1px #e2e2e2; padding: 0 5px; }
.list-pager .stat { float: left; color: #59636a; }
.list-pager .page { color: #2e8dbf; margin: 0 2px; }
.list-pager ul { float: right; list-style-type: none; }
.list-pager ul li { float: left; margin: 5px 7px; }
.list-pager ul li a { padding: 3px; height: 34px; line-height: 34px; }


/********************************************************
		列表样式
*********************************************************/
.list-container table{margin-bottom:0px;}


.title { height: 24px; line-height: 24px; padding: 3px 7px; background-color: #f7f7f7; border-bottom: 1px solid #e7e6e6; }
.grid-panel { background-color: white; border: 1px solid #e2e2e2; }
.search-panel { background-color: white; border: 1px solid #e2e2e2; }


/*查询条件表单中的控件*/
.search-form button{ margin-left: 5px;}
.search-form div.search-part{ margin-top: 5px; padding-left: 59px;}
.search-form .input-medium { margin-bottom: 0px !important; }
.search-form .input-small { margin-bottom: 0px !important; }
.search-form select.input-medium { width: 160px; }
.search-form span { height: 28px; line-height: 28px; margin-left: 1em; }
