/********************************************************
                        分页控件样式
*********************************************************/
.list-pager { height: 40px; line-height: 40px; clear: both; border-top: solid 1px #e2e2e2; padding: 0 5px; }
.list-pager .stat { float: left; color: #59636a; }
.list-pager .page { color: #2e8dbf; margin: 0 2px; }
.list-pager ul { float: right; list-style-type: none; }
.list-pager ul li { float: left; margin: 5px 7px; }
.list-pager ul li a { padding: 3px; height: 34px; line-height: 34px; }
